@if(data?.length>0){
<div class="head">
  <button mat-icon-button (click)="openHelpDialog()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
      <path
        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z" />
    </svg>
  </button>
  <button mat-icon-button (click)="openSetDialog()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
      <path
        d="M19.14 12.94c.04-.3.06-.61.06-.94 0-.32-.02-.64-.07-.94l2.03-1.58c.18-.14.23-.41.12-.61l-1.92-3.32c-.12-.22-.37-.29-.59-.22l-2.39.96c-.5-.38-1.03-.7-1.62-.94l-.36-2.54c-.04-.24-.24-.41-.48-.41h-3.84c-.24 0-.43.17-.47.41l-.36 2.54c-.59.24-1.13.57-1.62.94l-2.39-.96c-.22-.08-.47 0-.59.22L2.74 8.87c-.12.21-.08.47.12.61l2.03 1.58c-.05.3-.09.63-.09.94s.02.64.07.94l-2.03 1.58c-.18.14-.23.41-.12.61l1.92 3.32c.12.22.37.29.59.22l2.39-.96c.5.38 1.03.7 1.62.94l.36 2.54c.05.24.24.41.48.41h3.84c.24 0 .44-.17.47-.41l.36-2.54c.59-.24 1.13-.56 1.62-.94l2.39.96c.22.08.47 0 .59-.22l1.92-3.32c.12-.22.07-.47-.12-.61l-2.01-1.58zM12 15.6c-1.98 0-3.6-1.62-3.6-3.6s1.62-3.6 3.6-3.6 3.6 1.62 3.6 3.6-1.62 3.6-3.6 3.6z" />
    </svg>
  </button>
</div>

<div class="body">
  <div class="input-box">
    <mat-form-field appearance="outline">
      <input matInput placeholder="输入精灵名称" [(ngModel)]="inputValue" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of setSearchList(); track option) {
        <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="btn-box">
    <button mat-raised-button [disabled]="!playing || guessList.length>0" (click)="guessFirst()">随机开局</button>
    <button mat-raised-button [disabled]="!playing || !inputValue.trim()" color="primary"
      (click)="guessPet()">确定</button>
    <button mat-raised-button [disabled]="!playing" color="warn" (click)="openPetDialog()">投降</button>
    <button mat-raised-button [disabled]="playing" color="accent" (click)="start()">重新开始</button>
  </div>

  <div class="info-box">
    本轮猜测次数：{{guessList.length}}/{{guessChance}}
  </div>

  @for (item of guessList; track $index) {
  <div class="pet-box">
    <div class="pet-head">
      <img [src]="'assets/images/avatars/'+item['编号']+'.png'">
      <span>{{item['名称']}}</span>
    </div>

    <div class="pet-section">
      <div class="section-title">属性</div>
      <div class="section-content">
        @for (i of item['属性']; track $index) {
        <span class="tag" [class.green]="resultPet['属性'].includes(i)">{{i}}</span>
        }
      </div>
    </div>

    <div class="pet-section">
      <div class="section-title">种族</div>
      <div class="section-content">
        <span class="tag" [class.green]="item['种族']['总种族值']===resultPet['种族']['总种族值']"
          [class.yellow]="isBaseStatsYellow(item['种族']['总种族值'])">{{item['种族']['总种族值']+getBaseStatsArrow(item['种族']['总种族值'])}}</span>
        @if(showMoreNumInfo){
        <span class="tag" [class.green]="item['种族']['生命']===resultPet['种族']['生命']"
          [class.yellow]="isHPYellow(item['种族']['生命'])">生命:{{item['种族']['生命']+getHPArrow(item['种族']['生命'])}}</span>
        <span class="tag" [class.green]="item['种族']['速度']===resultPet['种族']['速度']"
          [class.yellow]="isSpeedYellow(item['种族']['速度'])">速度:{{item['种族']['速度']+getSpeedArrow(item['种族']['速度'])}}</span>
        }
      </div>
    </div>
    @if(showMoreNumInfo){
    <div class="pet-section">
      <div class="section-title">攻防</div>
      <div class="section-content">
        <span class="tag"
          [class.green]="getAttacksComparison(item)===getAttacksComparison(resultPet)">{{getAttacksComparison(item)}}</span>
        <span class="tag"
          [class.green]="getDefensesComparison(item)===getDefensesComparison(resultPet)">{{getDefensesComparison(item)}}</span>
      </div>
    </div>
    }
    <div class="pet-section">
      <div class="section-title">赛季</div>
      <div class="section-content">
        <span class="tag" [class.green]="getSNum(item['编号'])===getSNum(resultPet['编号'])"
          [class.yellow]="isSNumYellow(getSNum(item['编号']))">S{{getSNum(item['编号'])+getSNumArrow(getSNum(item['编号']))}}</span>
      </div>
    </div>

    <div class="pet-section">
      <div class="section-title">进化</div>
      <div class="section-content">
        <span class="tag" [class.green]="item['进化']['阶段']===resultPet['进化']['阶段']"
          [class.yellow]="isStageYellow(item['进化']['阶段'])">当前{{item['进化']['阶段']}}阶{{getStageArrow(item['进化']['阶段'])}}</span>
        @if(item['进化']['阶段']>1){
        <span class="tag" [class.green]="item['进化']['进化等级']===resultPet['进化']['进化等级']"
          [class.yellow]="isEvolutionLVYellow(item['进化']['进化等级'])">lv.{{item['进化']['进化等级']}}以上{{getEvolutionLVArrow(item['进化']['进化等级'])}}</span>
        @if(item['进化']['进化方式']){
        <span class="tag" [class.green]="item['进化']['进化方式']===resultPet['进化']['进化方式']"
          [class.yellow]="isEvolutionMethodYellow(item['进化']['进化方式'])">{{item['进化']['进化方式']}}</span>
        }
        }
      </div>
    </div>
    @if(showHeightAndWeight){
    <div class="pet-section">
      <div class="section-title">体型</div>
      <div class="section-content">
        <span class="tag" [class.green]="formatAverage(item['体型']['身高'])===formatAverage(resultPet['体型']['身高'])"
          [class.yellow]="isHeightYellow(formatAverage(item['体型']['身高']))">平均身高:{{formatAverage(item['体型']['身高'])+getHeightArrow(formatAverage(item['体型']['身高']))}}</span>
        <span class="tag" [class.green]="formatAverage(item['体型']['体重'])===formatAverage(resultPet['体型']['体重'])"
          [class.yellow]="isWeightYellow(formatAverage(item['体型']['体重']))">平均体重:{{formatAverage(item['体型']['体重'])+getWeightArrow(formatAverage(item['体型']['体重']))}}</span>
      </div>
    </div>
    }
    @if(showEggAndSexInfo){
    <div class="pet-section">
      <div class="section-title">生态</div>
      <div class="section-content">
        @for (i of item['生态']['蛋组']; track $index) {
        <span class="tag" [class.green]="resultPet['生态']['蛋组'].includes(i)">{{i}}</span>
        }
        @if (item['生态']['雄性占比']){
        <span class="tag" [class.green]="item['生态']['雄性占比']===resultPet['生态']['雄性占比']"
          [class.yellow]="isMaleProportionYellow(item['生态']['雄性占比'])">雄性占比:{{item['生态']['雄性占比']+'%'+getMaleProportionArrow(item['生态']['雄性占比'])}}</span>
        }
        @if (item['生态']['可同乘']){
        <span class="tag" [class.green]="resultPet['生态']['可同乘']">可同乘</span>
        }
      </div>
    </div>
    }
    <div class="pet-section">
      <div class="section-title">形态</div>
      <div class="section-content">
        @if(item['形态']['有地区形态']){
        <span class="tag" [class.green]="resultPet['形态']['有地区形态']">有地区形态</span>
        }
        @if(item['形态']['有首领形态']){
        <span class="tag" [class.green]="resultPet['形态']['有首领形态']">有首领形态</span>
        }
        @if(item['形态']['有异色形态']){
        <span class="tag" [class.green]="resultPet['形态']['有异色形态']&&resultPet['形态']['异色赛季']===item['形态']['异色赛季']"
          [class.yellow]="resultPet['形态']['有异色形态']">有异色形态:S{{item['形态']['异色赛季']+getShinySNumArrow(item['形态']['异色赛季'])}}</span>
        }
      </div>
    </div>
  </div>
  }
</div>
}